// styles applied on :host are applied on the current component, "app" in this case

.main-container{
    padding-bottom:90px; 
    padding-top: 40px;
}

.page-footer{
  position: fixed;
  width: 100%;
  bottom: 0;
    
}
