<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Icon Cards-->

        <div>
        <!-- Breadcrumbs-->
        <ol class="breadcrumb mb-3 ">
            <li class="breadcrumb-item active">Mis Proyectos</li>
        </ol>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="card mb-3" >
                    <a href="#">

                    <img class="card-img-top img-fluid w-80 img-responsive" src="/img/Perfil.jpg" alt="">
                    </a>
                    <div class="card-body">
                    <h6 class="card-title mb-1 text-center">
                        <a name="Juan Pérez" href="#">Juan Pérez</a>
                    </h6>
                    <p class="card-text small text-center">
                        Developer
                    </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-9">

                <div class="mb-3">
                    <h3>Mis Proyectos</h3>
                </div>
                <hr class="mt-2">


                <div class="card mb-3">
                    <div *ngIf="!projects">
                        
                        <div id="message" class="text-muted smaller">{{message}}</div>
                        
                    </div>
                    <div class="list-group list-group-flush small" *ngFor="let project of projects">
                         
                        <a id="Project" name={{project.name}} class="list-group-item list-group-item-action" [routerLink]="['skills/' + project._id]">
                            <div class="media">
                            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                            <div class="media-body">
                                <strong>{{project.name}}</strong>
                                <div class="text-muted smaller">Empty Description</div>
                            </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>

        </div>
	</div>

</div>
