<div class="container">

    <div class="section">
        <!--   Icon Section   -->
        <div class="row center">
            <div class="col col-md-3 ">
                <h5>Busqueda por:</h5>
                <form action="#">
                    <blockquote class="blockquote-employee">
                        <p> Empleados </p>
                        <div class="custom-controls-stacked">
                            <label class="custom-control custom-radio em">
                                <input [(ngModel)]="filter" name="filter" id="emplosearch" value='{"list": "employees", "attr": "name"}' type="radio" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Nombre</span>
                            </label>
                        </div>
                    </blockquote>

                    <blockquote class="blockquote-employee">
                        <p> Proyecto </p>

                        <div class="custom-controls-stacked">
                            <label class="custom-control custom-radio pronom">
                                  <input  [(ngModel)]="filter" name="filter" value='{"list": "projects", "attr": "project_name"}' type="radio" class="custom-control-input">
                                  <span class="custom-control-indicator"></span>
                                  <span class="custom-control-description">Nombre</span>
                                </label>
                            <label class="custom-control custom-radio tecno">
                                  <input  [(ngModel)]="filter" name="filter" value='{"list": "projects", "attr": "languagesFrameworks"}' type="radio" class="custom-control-input">
                                  <span class="custom-control-indicator"></span>
                                  <span class="custom-control-description">Tecnologia</span>
                                </label>
                            <label class="custom-control custom-radio metod">
                                    <input  [(ngModel)]="filter" name="filter" value='{"list": "projects", "attr": "methodology"}' type="radio" class="custom-control-input" >
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Metodologia</span>
                                  </label>
                        </div>

                    </blockquote>
                </form>


            </div>
            <div class="col col-md-9 ">
                <div class="form-group">
                    <label for="search">Busqueda Basica</label>
                    <input type="text" class="form-control" [(ngModel)]="searchBasic" (keyup.enter)="filterSearch()" placeholder="Busqueda basica">
                </div>
                <table class="table" *ngIf="resultList.length > 0  && filter.list=== 'employees'">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Proyecto Actual</th>
                            <th>Rol</th>
                            <th>+</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let employee of resultList">
                            <td>{{employee.name}}</td>
                            <td>{{employee.projectNow.project_name}}</td>
                            <td>{{employee.role}}</td>
                            <td><a [routerLink]="['/hard-skill-detail']">+</a></td>
                        </tr>
                    </tbody>
                </table>

                <table class="table" *ngIf="resultList.length > 0 && filter.list=== 'projects'">
                    <thead>
                        <tr>
                            <th>Nombre del proyecto</th>
                            <th>Tecnologias</th>
                            <th>Metodologia</th>                            
                            <th>+</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let project of resultList">
                            <td>{{project.project_name}}</td>
                            <td>{{project.languagesFrameworks}}</td>
                            <td>{{project.methodology}}</td>
                            <td><a [routerLink]="['/hard-skill-detail']">+</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>